* {
    background-color: black;
}

body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
    text-align: center;
    color: white;
    position: relative;
    font-size: 24px;
}

h2 {
  text-align: center;
  color: white;
  position: relative;
  padding-top: 0.5%;
  font-size: 16px;
}

h3 {
  text-align: center;
  color: white;
  position: relative;
  padding-top: 0.5%;
  font-size: 16px;
}

a {
  position: relative;
  color: inherit;
  text-decoration: none;
  font-style: italic;
}

a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 20px;
  margin: 0;

  position: fixed;
  top: 0;
  right: 0;
}

.nav li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s ease;
}

.nav li a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}